language: node_js
env:
  global:
    secure: "lvr32eZXNavEIohr21kahk2O0qyAqNU5qFyQ/33OhanEgj4ZUmyYTpzYkE24szUYMLWD3V6QZoIkFLeaQ5ERxQ9JMKmhsCXPqGSh/rCL6oFMaibbUsHxH8H0pbIzkoVzFNmRwPI0astPGmVq+y/ouSOvS7pLUydk6IEc7C6w2YrOhD7uRAO1oyNyBGEft+s3g5OOEoRUYwJ1lVRCEVYcgdPKZizNuKODZysBHkXhyrF5fKxP6g8hiLWkPJM1j98JrBMEyuN7/oOFloMfcsj/uGVYQ9iL9L11O8q2TC4NwR4VGn2w8zurBzcLDVs8LL4WlJkUopHtaUct47t8jsiok4tFhiY50YSVQbG0wVX23+Nj0kjvxhwSp60s/oQU7wZxulaPD86apOwK9andir/C+SXPod6B28bnSPEJ7rmyCo4n5jF+XBCQ76q454YnJqagEmomhV+D0EoY4Sh36aF4ZxonQ0m9XQhhSbCwzeqtRbOZk0ROeMRs3SAupHgDMP2Kypnugkmwzf8Z9IENrAQUGvQhdlk3Nwn8esu8TejWv6xCvkzwHM/NulYlIxAOppWNTlf70O7dMojFcMxssEL4d7owHMh+k4roCGgj/sGEr3dhEZ0NH6bXGwwKFi9U8TNYPpMz4Qa58V/vidvukRhqW39Q1rq1jnQWgK2P4fSpQoo="
jobs:
  include:
    - stage: build & deploy
      before_script:
        - bash scripts/travisPrepForDeployment.sh
      script: yarn build
      before_deploy:
        - echo $EMAIL
        - git config user.email "skinner520@gmail.com"
        - git config user.name "Jamie"
        - git add --force build
      deploy:
        provider: elasticbeanstalk
        access_key_id:
          secure: "VNSBtureOhEI1t/QcvPmPW4BO1NGWqpyUFWEKylM6TaQPLBIq6IjP4K6pKs/7RicGyWw/HdmwLHnmVHTh3ODvFn1WJt//5wvXYOt6wkE2FakHo8DVYehv1rh9FGxskeyghi+rsb4SvJWipfAGUkFK98tFPLv6vnVCLOP5gbsSZyk5TI64uKs5+slIi90d2p/6WZc3mv5moYgTp+pOb+yJrEK+39hNJIquGoSiORILA838b/XPPgwBTTkfADbnQ24d76s0eP00Fg3wVTtyhXqfw/HWefkz5rI0vOLWzyGF4yDsfx/H2esdLfr8p7YY+Js22Rwr7JMYUzbXtLWPu/8U9CDLfNx666est1xNbzzgvyi5jPYfPvy9EE3K0YZ7oSVBcAjxTdF3vm1t+Y8gJ8xiYbWsnNFfunbWqcxM6NJAhmw8mqafXQxTx2DmhBm0iglTHk7754yBPXq5u25po/ZVkPVys1nttIo90rGrAg50IpGg3KBEafHExhbfUCkq5lfSoCx7bJ9yN+tOMkMq3e7lljDYtku3wcjCzoAg0+y/q3ZJaV3RWw8I3pE9SmhgmDkPedfwfQBUU/EdOuqAHFp0WlqHZh1GNOB8ecPrT0Kdrw2H1wlYMvnzCalcaMy7TUqii+sRPPour5ugKat1ND3GnhnqcuaCcu1qHYPc53gY9Q="
        secret_access_key:
          secure: "MOIOWalagbXNRQXb8VtDiHd2eIyq9TgKezQBDZ01hd3NLCZ66YCPbrrJu7ZYublBM8Z+wI5akQyaFyM6SImPcqFpCbsS651XzKys0aywX0YGyLOUbHCk6K668eiRRsC/WBna6WiJ54Xf8jHoHBAh3zPh/vU1RrWvDhGFg7qe3AhoYSsim0SHw3c29Vun8HGOnHMfmILvriWXKaWRvsHfPzlk/Eqf2TdGmyzuXKZD+B3WlmR4lQUdD+xp2tOC04Gvp9BSPV23H63Hxsb8uOV5HgkyNFaVSKvn1kUQGxANdnmGcZn10JsnOyHq+04YHwzLbypceII6bcAS/C5PlmPlGV2r3FtbUCz+wv5EbJIv32HHwGW1UBCm7FYR3RRfn0tooiHGIbWWaEEz1o++1QUeFy3/4rOa6t+AiRpBZ9Ch7ZfLIpa8l4+Fj+kgnQ2PA2GXswHWoGk6fawyGeyDQEykwNW7xZBei3ZXGxTOrd9gDK8IE69t8as+U0puwDqwbHaz8Z0wp7flSEf33c2AyvlozZ0pEfUPe/rRB3p/G/f/1rt7eab8FMPtD63LKg+HNr08eH9YOCqCgq8olbtAe9ZNCz26yizGVKcskiuucg4Tuwa+8MYhztBdhrguSoeaLaLkFT08fpu5U3SR2PVFS6Jm7xhRJUTfTi+LQI9Ka5+fCwU="
        region: "us-east-2"
        app: "portfolio"
        env: "Portfolio-env"
        bucket_name: 'elasticbeanstalk-us-east-2-708373466372'
        bucket_path: 'application-deployments'
        skip_cleanup: true
        on:
          repo: ninth-mind/portfolio
