.about {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

blockquote {
  padding: 1rem;
  border-left: 5px solid darkgrey;
}

ul > li {
  margin: 0.5rem 0;
}

.small-img {
  width: 400px;
}

.portrait {
  position: relative;
  width: 100%;
  height: 100px;
  transform: translateX(-4%);

  & .cmyk-image {
    position: absolute;
    mix-blend-mode: multiply;
    transition: left 0.3s, transform 0.3s;

    @for $index from 0 through 3 {
      &.cmyk--#{$index} {
        left: $index * 25%;
      }
    }
  }
}

.portrait:hover {
  & .cmyk-image {
    @for $index from 0 through 3 {
      &.cmyk--#{$index} {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
