.about {
  position: static;
  font-family: 'Comic Sans MS', cursive, sans-serif; }

blockquote {
  padding: 1rem;
  border-left: 5px solid darkgrey; }

ul > li {
  margin: 0.5rem 0; }

.portrait {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50% 50%;
  overflow: hidden; }
  .portrait .cmyk-image {
    position: absolute;
    mix-blend-mode: multiply;
    transform: translateX(-25%); }
    .portrait .cmyk-image.cmyk--0 {
      animation: move0 5s ease-in-out 0s infinite alternate-reverse; }
    .portrait .cmyk-image.cmyk--1 {
      animation: move1 5s ease-in-out 1s infinite alternate-reverse; }
    .portrait .cmyk-image.cmyk--2 {
      animation: move2 5s ease-in-out 2s infinite alternate-reverse; }
    .portrait .cmyk-image.cmyk--3 {
      animation: move3 5s ease-in-out 3s infinite alternate-reverse; }
  .portrait:hover .cmyk-image {
    left: 0px;
    animation-play-state: paused; }

@keyframes move0 {
  0% {
    margin-left: 0; }
  25% {
    margin-left: 6px; }
  50% {
    margin-left: 4px; }
  75% {
    margin-left: 7px; } }

@keyframes move1 {
  0% {
    margin-left: 0; }
  25% {
    margin-left: -10px; }
  50% {
    margin-left: 5px; }
  75% {
    margin-left: -5px; } }

@keyframes move2 {
  0% {
    margin-left: 0; }
  25% {
    margin-left: 3px; }
  50% {
    margin-left: 5px; }
  75% {
    margin-left: 1px; } }

@keyframes move3 {
  0% {
    margin-left: 0; }
  25% {
    margin-left: -8px; }
  50% {
    margin-left: 4px; }
  75% {
    margin-left: -6px; } }
